<head>
	<meta charset="utf-8">
	<title>index</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body>
	<div>
        <div id="header">
			<p>Welcome to my website!</p>
		</div>
		<div id="sidebar_left">
			<h1>Joanna Wu</h1>
			<p>I'm a Computer Science student in Tsing Hua University.</p>
		</div>
		<div id="sidebar_right">
			<p>I don't know what to say.QQ</p>
		</div>
		<div id="content">
			<h2>This is my favorite song currently.</h2>
			<iframe width="480" height="360" src="https://www.youtube.com/embed/aHUeKs7HHBY"> </iframe>
			<p>It's one of the special vedio released by <i><a href="http://www.songoftime.com/">"Song of Time" project</a></i> recently.</p>
		</div>
        <div id="footer">
			<p>SS-2018 Lab2</p>
		</div>
    </div>
</body>