* {
	box-sizing: border-box;
}
		
body {
	background: #000 url("http://images.plurk.com/5XnKXY1SPIazLRQ0CP2a.jpg") no-repeat fixed center;
	background-size: cover;
}

#header {
	background-color: black;
	color: white;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}

#sidebar_left {
	padding: 10px;
	background-color: gray;
	float: left;
	width: 20%;
	height: 480px;
}

#content {
	width: 50%;
	height: 480px;
	margin-left: 25%;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.7);
	border: 5px solid white;
	border-radius: 10px;
	color: black;
	text-align: center;
}
		
#sidebar_right {
	padding: 10px;
	background-color: gray;
	float: right;
	width: 20%;
	height: 480px;
}
		
#sidebar_right::after {
	clear: both;
}
		
#footer {
	margin: 30px 0px 10px 0px;
	padding: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	text-align: center;
	font-style: italic;
}